doctype 5
html(ng-app='drunkennemesis')
  head
    title='Drunken-Nemesis'
    link(rel='stylesheet', href='/stylesheets/vendors/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    div(ng-view='')

    script(src='/javascripts/vendors/angular.js')
    script(src='/javascripts/vendors/angular.route.js')
    script(src='/javascripts/vendors/angular.resource.js')

    script(src='/javascripts/drunkennemesis.router.js')
    script(src='/javascripts/drunkennemesis.service.js')

    script(src='/javascripts/controllers/accountsController.js')
    script(src='/javascripts/controllers/accountDetailsController.js')
