doctype 5
html(ng-app='drunkennemesis')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //- block content
    div(ng-view='')
    script(src='/javascripts/vendors/angular.js')
    script(src='/javascripts/vendors/angular.route.js')
    script(src='/javascripts/vendors/angular.resource.js')
    script(src='/javascripts/drunkennemesis.js')
